body {
          background-image: url(tampil.jpg);
}
button {
          border: none;
          background-color: transparent;
          outline: none;
      }
.header{
          font-size: 200%;
}
